<div class="container">
    <h2>Trainers</h2>
    <div class="row">
  <!-- Card 1 -->
        <!-- <div class="col-md-4 mb-3">
            <div class="parent-card">
                <div class="card" style="width: 18rem;">
                    <img src="sample.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">CA. Marshall Sarkhedi</h4>
                       <h5> FOUNDER ~ Equuital Assets Pvt. Ltd.</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="card-body-more" id="more1">
                        <P>Some quick example text to build on the card title and m</P>
                      </div>
                      <button onclick="toggleContent1()">Read more</button>
                      <br>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
              </div>
            </div> -->

       <!-- Card 2 -->

        
            <div class="col-md-4 mb-3">
                <div class="parent-card">
                    <div class="card" style="width: 18rem;">
                    <img src="sample.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">CA. Marshall Sarkhedi</h4>
                        <h5>FOUNDER ~ Equuital Assets Pvt. Ltd.</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="card-body-more" *ngIf="showMoreContent">
                        <p>Some quick example text to build on the card title and m</p>
                        </div>
                        <button (click)="viewMore()">Read more</button>
                        <br>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
            </div>
  


    </div>
</div>