<app-my-portal></app-my-portal>

<div class="container w-50 mt-5">
    <div>
        <form [formGroup]="user_Info"  class="row my-row" (ngSubmit)="submit(user_Info.value)">
            <div class="col-md-6">
                <label >First name<span>*</span></label>
                <input type="text" formControlName="first_name" id="first_name"  class="form-control" aria-label="First name">
            </div>
            <div class="col-md-6">
                <label>Last name<span>*</span></label>
                <input type="text" formControlName="last_name" id="last_name" class="form-control" aria-label="Last name">
            </div>

            <div class="col-md-6">
                <label>Phone No<span>*</span></label>
                <input type="text" formControlName="phone_no" id="phone_no" class="form-control" aria-label="Last name">
            </div>

            <div class="col-md-6">
                <label>Password<span>*</span></label>
                <br>
                <input type="text" formControlName="password" id="password" class="form-control" aria-label="Password">
            </div>

            <div class="col-md-6">
                <label>Secondary Email</label>
                <input type="text" formControlName="email_id" id="email_id" class="form-control" aria-label="Last name">
            </div>

            <div class="col-md-6">
                <label>Resume Path</label>
                <input type="text" formControlName="resume_path" id="resume_path" class="form-control" aria-label="Last name">
            </div>

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        I am Student.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Wish to receive Newsletter.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" formControlName="terms" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Terms & Conditions
                    </label>
                </div>
            </div>
            <div class="flex-fill" style="width: 100%;">
                <div>
                    <p>{{user_Info.status}}</p>

                    <button type="submit" class="btn btn-primary save-btn">Save Changes</button>
                </div>
            </div>
        </form>
    </div>

    <!-- <div class="d-flex">
       First div with 50% width -->
    <!-- <div class="flex-fill">
        </div>
    </div> --> 
</div>