<!-- <p>my-portal works!</p> -->
<div class="body">
    <div class="container main " >
        
        <div class="d-flex id-name-main "><!-- user profile and name -->
                <div><!--User Profile  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                </div>
                <div class="user-name"><!--User Name  -->
                    <h3><p>Harshvirsinh</p></h3>
                    <h3><p>harshvirsinh@gmail.com</p></h3>
                </div>
        </div>
        <div class="d-flex justify-content-around row main-btns">
            <ul class="navbar-nav w-25 button"><li class="nav-item"><a class="nav-link" routerLink="/per-info" >Personal Info</a></li></ul>
            <ul class="navbar-nav w-25 button"><li class="nav-item"><a class="nav-link" routerLink="/edu-info" >Education Details</a></li></ul>
            <ul class="navbar-nav w-25 button"><li class="nav-item"><a class="nav-link" routerLink="/per-detail" >Personal Details</a></li></ul>
        </div>
        <!-- <router-outlet></router-outlet> -->

    </div>
  
</div>    

