.body{
    background-color: whitesmoke;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 150px;
}
.main{
    // border: 1px solid black;
    height: 80vh;
    width: 80%;
    // width: 80vh;
    background-color: white;
    border-radius: 10px;
}
.id-name-main{
    position: relative;
   
  top: 80px;
  left: 59px;
}
.user-name{
    // padding-left: 5px;
    padding-left: 10px;
  padding-top: 5px;
}
.main-btns{
    position: relative;
    top: 130px;
}
.button{
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    background-color: #313538;
    color: white;
    height: 50px;
    text-decoration: none;
    text-decoration-line: none;
}
