<nav class="navbar navbar-expand-lg text-light bg-dark bg-gradient 
            navbar-expand-md fixed-top navbar-before-scroll shadow-0  " id="main-navbar">
    <div class="container-fluid  ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse   " id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/programs">PROGRAMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trainers">TRAINERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/jobs">JOBS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs">BLOGS</a>
          </li>
        </ul>
        <ul *ngIf="isLogedIn">
          <li class="nav-item">
            <a  class="nav-link" routerLink="/my-portal">MY PORTAL</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" >LogOut</a>
          </li>
        </ul>  
        <div >
          <button type="button" class="btn btn-outline-light me-3" (click)=" openLoginModalComponent()"  >Login</button>
          <button type="button" class="btn btn-outline-light "  (click)="openSignupModalComponent()" >SignUp</button>

        </div>
      </div>
    </div>
  </nav>