.nav-link .navbar-brand, ul , li ,a  {
    color: white !important;
    }
// Search button  
.button-color{
    color: white;
}    
.button-color:hover {
    background-color: white;
    color: black;
}
.sbtn :hover{
  background-color:white ;
  color: black;
}