.nav-link .navbar-brand, ul , li ,a  {
    color: white !important;
    }
// Search button  
.button-color{
    color: white;
}    
.img{
    height: 40px;
    border-radius:5px ;    
}
img:hover{
    background-color: white;
}
.button-color:hover {
    background-color: white;
    color: black;
}
.sbtn :hover{
  background-color:white ;
  color: black;
}