<div class="container">
    <div class="row">
        <div class="col-3" style="border: 1px solid red; height: 90%;">

        </div>
        <div class="col-9" style="border: 1px solid yellow; height: 90%;">
            <div>
                <h2>Programs</h2>
            </div>

            <div class="row" id="carddiv">

                <!--card1-->

                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="parent-card">
                        <div class="card" style="width: 18rem;">
                            <img src="../../../assets/sample.png" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>