<div class="container">
    <div class="row">

        <div class="col-3" style=" height: 90%;">
            <form formGroup="programs_Data">
                <div>
                    <button type="reset" value="Reset">Reset All</button>
                </div>
                <div class="fillter_box" *ngFor="let lable of fillterTitle; let i = index ">
                    <p>{{lable.title}}</p>

                    <label class="m-input" for="check" *ngFor="let item of lable[lable.key] let t = index ">
                        <input id="check" type="checkbox" formArrayName="selected_Check_Box"
                            (change)="dataFillters($event, lable.key)" [value]="item.slug"
                            [checked]="item.checked">&nbsp;{{item.name}}{{item.checked}}
                    </label>

                </div>
            </form>
        </div>

        <div class="col-9" style=" height: 90%;">

            <div class="d-flex justify-content-between">
                <div>
                    <h2><b>Programs</b></h2>
                </div>

                <!-- Shorting Button  -->
                <div>
                    <select  (change)="shortingPrograms($event)">
                        <option value="reverse:fees">High to Law</option>
                        <option value="fees">Law to High</option>
                        <option value="start_date">Old to New</option>
                        <option selected value="reverse:start_date">New to Old</option>
                    </select>
                </div>

            </div>

            <div class="row" id="carddiv">
                <!-- ---------------------------------------------------------------------------------------- -->
                <!--card1-->
                <!-- ---------------------------------------------------------------------------------------- -->
                <div class="col-md-6 mb-2" *ngFor="let item of programsCard">

                    <div class="parent-card" (click)="cardDetails(item.slug)">
                        <div class="card" >
                            <img src="{{item.photo}}" class="card-img-top" alt="sample.png">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text">{{item.short_desc}}</p>

                                <!-- <p>{{item.discounted_fees}}</p>
                                <p>{{item.fees}}</p> -->

                                <div class="d-flex">
                                    <!-- Card price -->
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                            <path
                                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                                        </svg>
                                        <del>{{item.discounted_fees}}</del>
                                    </p>

                                    <p>
                                        &nbsp;
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                            <path
                                                d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
                                        </svg><b>{{item.fees}}</b>
                                    </p>

                                </div>
                                <!--Time & Duration  -->
                                <div class="d-flex  ">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24"
                                            fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                            <path
                                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                            <path
                                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                        </svg>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div>
                                        <p>{{item.duration}}</p>
                                    </div>

                                </div>

                                <div>
                                    <p>Class Type:
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="23"
                                            fill="currentColor" class="bi bi-record-fill  " viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10" />
                                        </svg><b>{{item.delivery_type}}</b>
                                    </p>
                                </div>

                                <!--  image  and name of trainer-->
                                <div class="row image-backround text-start" >

                                    <div class=" col-3 ">
                                        <img src="{{item.trainerData.photo}}" class="card-img-bottom" alt="">
                                    </div>
                                    <p class="col-9 cared-trainer-name ">Trainer : {{item.trainerData.name}}</p>

                                </div>

                                <a href="#" class="sbtn btn btn-outline-dark mt-2  ">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <div class="row"  >
                    <div class="col-md-6" *ngFor="let item of onScrollNewProgramData" >
                        <div class="card" >
                            <img src="{{item.photo}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text">{{item.short_desc}}</p>
                                <div class="d-flex">
                                   Card price
                                     <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16"> <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" /></svg>
                                        <del>{{item.discounted_fees}}</del>
                                    </p>
                                    <p> &nbsp;
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16"><path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" /></svg><b>{{item.fees}}</b>
                                    </p>
                                </div>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>    
                </div>
            </div> 
            
            

        </div> <!-- col-9 End's here-->
    </div>
</div>