.container{
    border: 1px solid black;
    margin-top: 100px;

}
#carddiv{
    margin-top: 50px;
}
.parent-card{
    border: 1px solid blue;
}
.card{
    display: block;
    margin: auto;
    border: 1px solid green;
}
.fillter_box{
    height: 95px;
    width: 300px;
    border: 2px solid skyblue;
    margin-top: 5px;
}