<div class="container">
    <div class="title">
        <h1 style="color: #00B6F2;margin-top:175px;">Jobs</h1>
    </div>

    <div class="row g-1" id="select">

        <div class="col-md-4">
            <input class="search" type="search" placeholder="Search..." style="height:50px;width:350px;
        background-image: url(magnifying-glass-solid.svg); background-repeat: no-repeat;
         background-position: 10px 10px;padding: 12px 20px 12px 40px;">
        </div>

        <div class="col-md-4">
            <select id="city" name="city" style="height: 50px; width: 350px; 
        background-image: url(location-dot-solid.svg); 
        background-repeat: no-repeat; background-position: 10px 10px;padding: 12px 20px 12px 40px;;">
                <option value="City">City</option>
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Gandhinagar">Gandhinagar</option>
            </select>
        </div>

        <div class="col-md-4">
            <button style="height:50px; width:175px; background-color: #00B6F2;color:white;
        border-radius: 7px;"><b>Search</b></button>
        </div>
    </div>

</div>