<div class="container mt-3 mb-5 main-div" *ngIf="quiz_Data"> <!--  Main Div -->
    <div class="container pt-3">
        <div class="row pt-5 titles">
            <h4 class="col">Exam : {{quiz_Data.title}}</h4>
            <h4 class="col">Time Duration :{{quiz_Data.total_time}}</h4>
            <h4 class="col">Total Marks : {{quiz_Data.total_marks}}</h4>
            <!-- <p>Subject : {{subject.subject_name}}</p> -->
            <!-- <h4 class="col">{{subject.subjectQueCount}}</h4> -->
        </div>
    </div>

    <div> <!-- Questions -->
        <div class=" ">
            <div class="text-center mt-3" *ngIf="is_hide_start_Quiz_btn">
                <button class="btn btn-primary btn-lg " (click)="startTimer()">Start Quiz!</button>
            </div>
            
            <div *ngIf="is_Time_Over_Message" >
               <p class="btn btn-danger" >{{time_Over_Message}}</p> 
            </div>

            <div class=" text-center mt-2" *ngIf="is_Time_Over">
                <button class="btn btn-primary btn-lg ">Time Duration : 00:
                    {{count_down_time_min}}:{{count_down_time_sec < 10 ? "0" + count_down_time_sec : count_down_time_sec
                        }}</button><br>
                        <button class="btn  btn-success mt-3 btn-lg  ">Subject : {{subject}}</button>
            </div>
        </div>

        <div class=" que_ans_space mt-2" *ngIf="is_Hide_Quiz_On_Time_Out">

            <div class="p-2">
                <h5><b>Question {{que_id}} of 10:</b></h5>
            </div><br>
            <!-- Question  text -->
            <div class="container" [innerHTML]="questions.question" *ngIf="questions !== undefined ; ">
                <p><strong>
                        <h4>{{questions.question}}</h4>
                    </strong></p>
            </div><br>

            <form class="  form " [formGroup]="quiz_Form">

                <ng-container>

                    <div class="ques-col-1">

                        <label type="radio" class="form-input" for='option_1'>

                            <input type="radio" id='option_1' name="options" value="option_1" formControlName="options"
                                (click)="ans_by_user($event, options_as_Key[4], questions.id  )">&nbsp;
                            <p [innerHTML]="questions.option1">{{questions.option1}}</p>
                        </label>

                        <label type="radio" class="form-input " for="option_2 ">
                            <input type="radio" id='option_2' name="options" value="option_2" formControlName="options"
                                (change)="ans_by_user($event, options_as_Key[5], questions.id  )">&nbsp;
                            <p [innerHTML]="questions.option2">{{questions.option2}}</p>
                        </label>

                    </div>

                    <div class="ques-col-2">

                        <label type="radio" class="form-input " for="option_3">
                            <input type="radio" id='option_3' name="options" value="option_3" formControlName="options"
                                (change)="ans_by_user($event, options_as_Key[6], questions.id  )">&nbsp;
                            <p [innerHTML]="questions.option3">{{questions.option3}}</p>
                        </label>

                        <label type="radio" class="form-input " for="option_4">
                            <input type="radio" id='option_4' name="options" value="option_4" formControlName="options"
                                (change)="ans_by_user($event, options_as_Key[7] ,questions.id )">&nbsp;
                            <p [innerHTML]="questions.option4">{{questions.option4}}</p>
                        </label>
                    </div>
                </ng-container>
            </form>


        </div>
    <!-- Previous, Nexxt, & Finish button  -->
        <div class="row" *ngIf="questions !== undefined ; ">

            <div class="col" *ngIf="is_Hide_Quiz_On_Time_Out">

                <button class="btn btn-primary " (click)="previous(id)">Preivous</button>

                <button class="btn btn-primary ms-2" (click)="next(id)"> Next </button>

            </div>

            <div class="col    " *ngIf="is_Show_Finish_Btn" >                
                <button class="btn btn-success btn-lg    " (click)="finish_Quiz()" >Finish</button>
            </div>

        </div>

        <!--Rsult   -->
        <div class="container result" *ngIf="is_Quiz_Finish_By_User" >
             <h1 class="text-center pt-5"><b>Result</b></h1>
            
            <div class="container ">
                 <p>Total Marks Obtain /10 </p>
            </div>

        </div>
    </div>

</div>