.main-div{
    background-color: whitesmoke;
    height: 90vh;
    width: 100vw;
}
.titles{
    background-color: skyblue;
//   margin-top: 10px;
  text-align: center;
  height: 110px;
  border-radius: 15px 15px 0px 0px ;
//   padding-bottom: 20px;
}