.main{
    position: relative;
    margin-top: 36px;
    height: 100vh;
    width: 100%;
    margin-bottom: 570px;
}
.header, .footer {
    width: 100%;
    position: relative;        
    background: #333;
    display: block;
}
.header{
    top: 0;
    display: block;
}
.footer{
    bottom: 0;
    display: block;
}
