<div class="modal-header ">

  <h4 class="modal-title pull-left">{{ title }}</h4>

  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>

  </button>
</div>
<div class="modal-body">

  <div class="add-product">
  <p class="title">Login</p>

    <!-- <p class="error">{{addProductMessage}}</p> -->

    <!--Notification message success or failed  -->
    <span *ngIf="loginMessage" class="alert ">{{message}}</span>

    <form [formGroup]="loginForm" class="commen-form" (ngSubmit)="submit()">

      <input class="form-control" type="email" id="email_id" formControlName="email_id"
        placeholder="Please Enter Emial " required>
      <span class="error" *ngIf="loginForm.get('email_id').invalid && loginForm.get('email_id').touched">
        <small *ngIf="loginForm.get('email_id').hasError('required')">Email is required</small>
      </span>

      <input class="form-control" type="password" id="password" formControlName="password"
        placeholder="Please Enter Password" required>
      <div class="error " *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        <small *ngIf="loginForm.get('password').hasError('required')">Password is required</small>
        <small *ngIf="loginForm.get('password').hasError('pattern')">Password Atlest 8 Charectors </small>

      </div>

      <button type="submit" [disabled]="loginForm.invalid">
        <span class=" spinner-border   text-primary" role="status" *ngIf="sending"></span>
        {{sending ? 'please wait' : 'login'}}&#8230;
      </button>

      <button type="reset">Reset</button>
      
      <a class="toggle-auth" (click)="openSigninupModalComponent()">Already have an account? LogIn </a>
      <!-- <div>{{loginForm.status}}</div>
      <div>{{loginForm.invalid}}</div> -->
    </form>
  </div>
  <!-- Login End -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
</div>