.main{
    background-color: whitesmoke;
    height: 85vh;
    border-radius: 10px;
    margin-bottom: 40px;
}
span{
    color: red;
}
.text{
    color:rgb(62, 181, 228);
    margin-left: 20px;
    margin-top: 10px;
}
.my-btn{
    width: 160px;
    height: 50px;
    font-size: 20px;
    margin-top: 10px;
}